<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="text-align:center">
  <!-- accordion control button -->
  <div class="pointerCursor" (click)="onAccordion($event)">
    <h2><i [ngClass]="showDetail ? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i>
    &nbsp;{{showDetail ? 'hide' : 'show'}} detail.</h2>
  </div>
</div>

<!-- content of accordion -->
<div *ngIf="showDetail" [@accordion]>
  <table>
    <tr>
      <th>Column A</th>
      <th>Column B</th>
      <th>Column C</th>
      <th>Column D</th>
    </tr>
    <tr>
      <td>A-1</td>
      <td>B-1</td>
      <td>C-1</td>
      <td>D-1</td>
    </tr>
    <tr>
      <td>A-2</td>
      <td>B-2</td>
      <td>C-2</td>
      <td>D-2</td>
    </tr>
    <tr>
      <td>A-3</td>
      <td>B-3</td>
      <td>C-3</td>
      <td>D-3</td>
    </tr>
    <tr>
      <td>A-4</td>
      <td>B-4</td>
      <td>C-4</td>
      <td>D-4</td>
    </tr>
  </table>
</div>

<h2>Other contents: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>


